*{
    margin: 0;
    padding: 0;
}
/* ///////////////// hader */
ul{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(56, 55, 55);
    transition: 2s;
    border-radius: 20px;
    border-bottom:2px black solid;
    position: relative;
    height:100px ;
}
li{
    color: rgb(248, 244, 244);
    font-size: large;
    font-family: 'Azeret Mono', monospace; 
    height: 20px;    
}
ul li:hover{
    font-family: 'Azeret Mono', monospace; 
    font-size: large;
    border-bottom: 2px black solid;
}
ul a{
    text-decoration: none;
    color: black;
}
/* /////////////////// main */

table, td, th {
    border: 1px solid rgb(165, 104, 104);
}
table{
    width: 100%;
    border-collapse: collapse;
}
.td{
    padding: 30px;
}
#article{
  margin: 10px;   
}
#article2{
    margin: 10px;   
}
#article3{
    margin: 10px;   
}
#article img{
    width: 30%;
}
#article2 img{
    width: 30%;
}
#article3 img{
    width: 30%;
}
#remove{
    border-radius: 40%;
    padding: 10px;
    margin-left: 15px;
}
#remove2{
    border-radius: 40%;
    padding: 10px;
    margin-left: 15px;
}
#remove3{
    border-radius: 40%;
    padding: 10px;
    margin-left: 15px;
}
#p1{
  padding: 10px;
}
@media screen and (max-width:622px) {
    ul{
        width: 600px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        } 
     
}
@media screen and (max-width:425px) {
        #article{
            width: 590px;
          }
          #article2{
            width: 590px;
          }
          #article3{
            width: 590px;  
          }
          
  
}